* {
    outline: 0;
}



/* ================================================
                    FB Buttons
================================================ */

.facebook-style-btn{
    font-size: 0.9rem;
    padding: 6px 12px;
    border-radius: 7px;
}

    .facebook-style-btn:focus{
        outline: 0;
    }

.facebook-style-dark{
    -moz-box-shadow:    inset 2px 2px 0 0 white;
    -webkit-box-shadow: inset 2px 2px 0 0 #4d73bf;
    box-shadow:         inset 2px 2px 0 0 #4d73bf;

    background: #4267b2;
    border: solid 1px;

    color: white;
    text-shadow: 0 1px 0 #3359a5;
    transition: all ease 0.3s;
}

    .facebook-style-dark:hover{
        background: white;
        border-color: #3359a5;
        color: #3359a5;
        padding: 7px 14px;
        -moz-box-shadow:     2px 2px 3px 0 #7d7c79;
        -webkit-box-shadow:  2px 2px 3px 0 #7d7c79;
        box-shadow:          2px 2px 3px 0 #7d7c79;
        transition: all ease 0.3s;
    }

    .facebook-style-dark:active{
        background: #e0e0e0;
        -moz-box-shadow:     0 0 0 0 #7d7c79;
        -webkit-box-shadow:  0 0 0 0 #7d7c79;
        box-shadow:          0 0 0 0 #7d7c79;
    }

.facebook-style-light{
    color: #333333;
    border: solid 1px lightgray;
    -moz-box-shadow:    inset 2px 2px 0 0 #e8ebe9;
    -webkit-box-shadow: inset 2px 2px 0 0 #e8ebe9;
    box-shadow:         inset 2px 2px 0 0 #e8ebe9;
    transition: all ease 0.3s;
}

    .facebook-style-light:hover{
        padding: 7px 14px;
        background: #333333;
        border-color: #333333;
        color: lightgray;
        -moz-box-shadow:     2px 2px 3px 0 #7d7c79;
        -webkit-box-shadow:  2px 2px 3px 0 #7d7c79;
        box-shadow:          2px 2px 3px 0 #7d7c79;
        transition: all ease 0.3s;
    } 

    .facebook-style-light:active{
        background: black;
        -moz-box-shadow:     0 0 0 0 #7d7c79;
        -webkit-box-shadow:  0 0 0 0 #7d7c79;
        box-shadow:          0 0 0 0 #7d7c79;
    }

/* ================================================
                    3-D Buttons
================================================ */

.btn-3d-1{
    position: relative;
    background: orangered;
    border: 0px;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: 0px;
}

    .btn-3d-1::before{
        position: absolute;
        content: "";
        width: 0;
        height: 0;

        border: solid 6px transparent;
        border-right: solid 6px hsl(16, 100%, 30%);
        border-left: solid 0 transparent;
        top: 0;
        left: -6px;
    }

    .btn-3d-1::after{
        position: absolute;
        content: "";
        width: 0;
        height: 0;

        border: solid 6px transparent;
        border-top: solid 6px hsl(16, 100%, 30%);
        border-bottom: solid 0 transparent;
        bottom: -6px;
        right: 0;
    }

    .btn-3d-1:hover{
        background-color: hsl(16, 82%, 49%);
    }

    .btn-3d-1:active{
        background-color: hsl(16, 87%, 42%);
        top: 3px;
        right: 3px;
        box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
    }

        .btn-3d-1:active::before{
            border: solid 3px transparent;
            border-right: solid 3px hsl(16, 100%, 30%);
            border-left: solid 0px transparent;
            left: -3px;
        }

        .btn-3d-1:active::after{
            border: solid 3px transparent;
            border-top: solid 3px hsl(16, 100%, 30%);
            border-bottom: solid 0px transparent;
            bottom: -3px;
        }

.btn-3d-2{
    position: relative;
    background-color: #c21c0c;
    background: -webkit-radial-gradient(#fa200c, #c21c0c);
    background: -moz-radial-gradient(#fa200c, #c21c0c);
    background: radial-gradient(#fa200c, #c21c0c);

    font-size: 1.4rem;
    text-shadow: 0 -1.25px 0 #861d13;
    color: white;
    border: solid 0.75px #7a130a;
    border-radius: 100%;

    height: 120px;
    width: 120px;

    z-index: 4;

    box-shadow: 0 1px 0 0 hsl(360, 100%, 25%),
                0 2px 0 0 hsl(360, 100%, 22%),
                0 3px 0 0 hsl(360, 100%, 19%),
                0 4px 0 0 hsl(360, 100%, 16%),
                0 5px 0 0 hsl(360, 100%, 13%),
                0 6px 0 0 hsl(360, 100%, 8%),
                0 7px 0 0 hsl(360, 100%, 3%),
                0 10px 0 0 hsl(360, 100%, 0%);
}

    .btn-3d-2:hover{
        background: -webkit-radial-gradient(#d61f0e, #b41c0e);
        background: -moz-radial-gradient(#d61f0e, #b41c0e);
        background: radial-gradient(#d61f0e, #b41c0e);
    }

    .btn-3d-2:active{
        background: -webkit-radial-gradient(#b1190b, #97180d);
        background: -moz-radial-gradient(#b1190b, #97180d);
        background: radial-gradient(#b1190b, #97180d);

        top: 5px;

        box-shadow: 0 1px 0 0 hsl(360, 100%, 8%),
                    0 2px 0 0 hsl(360, 100%, 3%),
                    0 5px 0 0 hsl(360, 100%, 0%);

    }

/* ================================================
                Gradient Buttons
================================================ */

.gradient-button-1{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.4rem;
    box-sizing: border-box;
    background-color: white;
    border: solid 4px transparent;
    border-image: linear-gradient(to top right, #3acf3c, #3cb0de);
    border-image-slice: 1;
    color: #31cca0;
    transition: all ease-out 0.3s;
}

    .gradient-button-1:hover{
        background: linear-gradient(to top right, #3acf3c, #3cb0de);
        color: white;
        transition: all ease-out .5s; 
    }

    .gradient-button-1:active{
        background: linear-gradient(to top right, #2fa731, #2e82a3);
        border-image: linear-gradient(to top right, #2fa731, #2e82a3);
        border-image-slice: 1;
    }

/* ================================================
                Animated Buttons
================================================ */

.animated-button-1{
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: teal;
    background-image: url(pattern.png);
    background-size: 40px 40px;
    border: solid 1px rgb(3, 110, 110);
    color: white;
}

    .animated-button-1:hover{
        animation: loading-button-animation 0.5s linear infinite;
    }

    @keyframes loading-button-animation{
        from {
            background-position: 0 0;
        }
        to {
            background-position: 40px 0;
        }
    }

.animated-button-2 {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: rgb(21, 173, 173);
    background-size: 40px 40px;
    border: solid 1px rgb(3, 110, 110);
    color: white;
    border-radius: 5px;
    transition: all ease 0.3s;
}

    .animated-button-2::after{
        position: absolute;
        display: inline-block;
        top: 17%;
        right: 2%;
        content: "»";
        font-size: 2rem;
        color: white;
        opacity: 0;
        transition: all ease 0.3s;
    }

    .animated-button-2:hover::after{
        opacity: 100;
        top: 17%;
        right: 7%;
        transition: all ease 0.3s;
    }

    .animated-button-2:hover{
        padding: 20px 60px 20px 20px;
        border-radius: 35px;
        transition: all ease 0.3s;
    }

    .animated-button-2:active{
        background-color: rgb(17, 139, 139);
    }

/* ================================================
                Toggle UI Buttons
================================================ */

.toggle-1 {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
}

    .toggle-1__input {
        display: inline-block;
    }